out
dist
node_modules
.vscode-test/
*.vsix
*/__pycache__/
*/__pycache__/*
flowchart/temp/tooltip_data.json
flowchart/temp/flowchart.mmd
flowchart/__pycache__/flowchart_postprocessor.cpython-311.pyc
flowchart/__pycache__/flowchart_processor.cpython-311.pyc
flowchart/temp/flowchart.mmd
flowchart/temp/tooltip_data.json
